.newsBlock
  width: 300px
  height: 400px
  margin: 0 35px
  img
    width: 300px
    margin-bottom: 10px
  .content
    font-size: 20px
    line-height: 35px
  .readMoreBtn
    margin-top: 20px
    color: darken(#46B9EA, 20%)
    cursor: pointer